{% extends "../master.twig" %}
{% import '../../components/content/content.twig' as content %}
{% import '../../components/comment/comment.twig' as comment %}

{% block content %}


  {% set newArray = [] %}
  {% for name in post %}
    {% if name.category not in newArray %}
      {% set newArray = newArray|merge([name.category]) %}
    {% endif %}
  {% endfor %}

  {% if newArray|length > 1 %}
    <h2>Filter</h2>
    <ul>
      {% for category in newArray %}
        <li><a href="./{{ category }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for post in post %}
    <article class="page__article">
      <h2 class="visible visible--sr">{{ title|default("Beitrag") }}</h2>
      <section class="page__content">
        {{ content.default(post) }}
      </section>
      {% if post.comment_status == 'open' %}
        <section class="page__comments">
          {{ comment.default(post.get_comments()) }}
        </section>
      {% endif %}
    </article>
  {% endfor %}

{% endblock %}
