{% extends "../default.twig" %}
{% import '../../components/stage/stage.twig' as stage %}
{% import '../../components/overview/overview.twig' as overview %}
{% import '../../components/button/button.twig' as button %}
{% import '../../components/headline/headline.twig' as headline %}
{% import '../../components/avatar/avatar.twig' as avatar %}

{% block content %}

  {{ stage.default() }}

{% endblock %}

{% block aside %}

  <section class="section">
    <div class="section__content">
      {{ headline.archive() }}
    </div>

  {{ overview.default() }}
   </section>

  <section class="section">
    <div class="section__content">

      {{ headline.avatar() }}

      <div class="meta">
        <div class="meta__left">
          {{ avatar.default() }}
        </div>
        <div class="meta__right">
          {{ avatar.default() }}
      </div>

    </div>
    </div>
  </section>

{% endblock %}
