{% macro default(entry) %}

  {% import '../button/button.twig' as button %}
  {% import '../rating/rating.twig' as rating %}

  <a class="card" href="/catalogue/video/{{ entry.sludge }}">
    <img class="card__thumb" src="{{ entry.thumbnail.src }}" alt="card-thumbnail">
    <h3 class="card__title">{{ entry.title }}</h3>
    <p class="card__excerpt">{{ entry.content }}</p>
    <div class="card__action">
    </div>
  </a>

{% endmacro %}


{% macro media(entry) %}

  {% import '../button/button.twig' as button %}
  {% import '../rating/rating.twig' as rating %}

  <a class="card card--media" href="/post/{{ entry.id }}">
    <img class="card__thumb" src="{{ entry.thumbnail.src }}" alt="card-thumbnail">
    <h3 class="card__title">{{ entry.title }}</h3>
    <p class="card__excerpt">{{ entry.content }}</p>
    <div class="card__action">
      <div class="card__rating">
        {{ rating.default() }}
      </div>
    </div>
  </a>

{% endmacro %}
