<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
{% import '../components/masthead/masthead.twig' as masthead %}
{% import '../components/footer/footer.twig' as footer %}
{% block html_head_container %}
  <head>
    <meta charset="{{ site.charset|default('utf-8') }}"/>
    <title>
      {% if title %}
        {{ title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.pingback_url %}
      <link rel="pingback" href="{{ site.pingback_url }}">{% endif %}
    {% if function %}{{ function('wp_head') }}{% endif %}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/style.css">
    {% block head %}{% endblock %}
  </head>
{% endblock %}
<body class="page {{ body_class }}">

<header class="page__header">
  {% block header %}
    {{ masthead.default(menu.get_items, site, title) }}
  {% endblock %}
</header>
<hr class="page__separator">

<main class="page__body">
  {% block content %}
    Sorry, no content
  {% endblock %}
  <aside class="page__sidebar">
    {% block aside %}
    {% endblock %}
  </aside>
</main>

<hr class="page__separator">
{% block footer %}
  <footer class="page__footer">
    {{ footer.default() }}
  </footer>
  {% if function %}{{ function('wp_footer') }}{% endif %}
{% endblock %}

<script src="/main.js"></script>
</body>
</html>
